* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}
@media screen and (max-width: 600px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }
}

.container {
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 3rem);
  text-align: center;
  margin: 0 2em;
  max-width: 480px;
  width: 100%;
  overflow: hidden;
}
.container picture {
  width: 100%;
}
.container picture img {
  width: 100%;
  display: block;
}
.container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin: 0 auto 2em;
  max-width: 80%;
}
.container .details h1 {
  font-weight: 900;
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: hsl(223, 47%, 23%);
}
.container .details p {
  color: hsl(224, 23%, 55%);
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  font-weight: 500;
  line-height: 1.5;
}
.container .details .subscription-plan {
  background-color: hsla(225, 100%, 94%, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 1.5em;
  width: 100%;
  flex-wrap: wrap;
  font-size: clamp(0.9rem, 4vw, 1.1rem);
}
.container .details .subscription-plan .plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}
.container .details .subscription-plan .plan .plan-info .plan-name {
  font-weight: 700;
}
.container .details .subscription-plan .plan .plan-info .plan-price {
  color: hsl(224, 23%, 55%);
}
.container .details .subscription-plan .change-link a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  text-decoration: none;
}
.container .details .subscription-plan .change-link a:hover {
  text-decoration: underline;
}
.container .details .buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.container .details .buttons .proceed-btn {
  background-color: hsl(245, 75%, 52%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  color: hsl(225, 100%, 98%);
  border: none;
  border-radius: 10px;
  padding: 1em;
  font-weight: 700;
  cursor: pointer;
  font-size: clamp(0.9rem, 4vw, 1.1rem);
}
.container .details .buttons .proceed-btn:hover {
  background-color: hsl(245, 75%, 42%);
}
.container .details .buttons .cancel-btn {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  border: none;
  border-radius: 10px;
  padding: 1em;
  font-weight: 700;
  cursor: pointer;
  font-size: clamp(0.9rem, 4vw, 1.1rem);
}
.container .details .buttons .cancel-btn:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */